@import url("https://fonts.googleapis.com/css2?family=Farsan&display=swap");
/*mixin se incluye en (nosotros y envios)*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Farsan", cursive;
}

main {
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.5) 47%, rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: screen;
}

/*inicio*/
.portada {
  position: relative;
}
.portada img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.portada h2 {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: white;
  margin: 0px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

#tarjeta-zoom:hover {
  transition: transform 0.3s;
  transform: scale(1) translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

#tarjetita {
  font-size: 30px;
  margin: 0;
}

/*fin incio*/
/*nosotros*/
.contenedor-nosotros {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.contenedor-nosotros .nosotros {
  color: #3555BD;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  text-align: center;
  padding: 0;
  margin: 40px;
}
.contenedor-nosotros .imgtienda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.contenedor-nosotros .imgtienda img {
  width: 550px;
  height: 500px;
  margin-left: 40px;
}
.contenedor-nosotros .imgtienda h2 {
  color: #34C990;
  font-size: 35px;
  width: 100%;
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
}

.redes {
  display: flex;
  padding: 30px;
  justify-content: center;
}
.redes a {
  color: #E734BF;
  text-decoration: none;
  font-size: 40px;
  font-family: "PT Sans Narrow", sans-serif;
}

@media screen and (max-width: 1300px) {
  .contenedor-nosotros {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .contenedor-nosotros div .nosotros {
    color: #3555BD;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 40px 30px 20px 30px;
  }
  .contenedor-nosotros .imgtienda {
    position: relative;
    padding: 0;
  }
  .contenedor-nosotros .imgtienda img {
    display: block;
    width: 100%;
    height: 600px;
    object-fit: cover;
    margin: 0;
  }
  .contenedor-nosotros .imgtienda h2 {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    color: white;
    margin: 0px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "PT Sans Narrow", sans-serif;
  }
}
@media screen and (max-width: 1300px) and (max-width: 576px) {
  .contenedor-nosotros div .nosotros {
    text-align: start;
  }
  .contenedor-nosotros .imgtienda img {
    height: 500px;
  }
  .contenedor-nosotros .imgtienda h2 {
    font-size: 20px;
    top: 0px;
    text-align: start;
  }
}
/*fin nosotros*/
/*envios*/
.contenedor-envios {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.contenedor-envios .envios {
  color: #3555BD;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  text-align: center;
  padding: 0;
  margin: 40px;
}

.envios-pais {
  padding: 50px;
  display: flex;
  margin-bottom: 50px;
}
.envios-pais img {
  margin: 40px 30px 40px 50px;
  height: 500px;
  width: 650px;
}
.envios-pais h2 {
  color: #E734BF;
  text-decoration: none;
  font-size: 30px;
  font-family: "PT Sans Narrow", sans-serif;
  margin: 40px 40px 40px 40px;
}
.envios-pais .envio-contacto {
  font-size: 30px;
  text-decoration: none;
  color: rgba(255, 0, 0, 0.986);
}

@media screen and (max-width: 1300px) {
  .contenedor-envios {
    display: flex;
  }
  .envios {
    text-align: center;
    color: #2CD451;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
  }
  .envios-pais {
    padding: 0;
    position: relative;
  }
  .envios-pais img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin: 0;
  }
  .envios-pais h2 {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    color: white;
    margin: 0px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "PT Sans Narrow", sans-serif;
  }
}
@media screen and (max-width: 576px) {
  .envios-pais h2 {
    font-size: 20px;
    top: 75px;
    text-align: start;
  }
}
/*fin envios*/
/*contacto*/
.titulo {
  text-align: center;
  color: #2CD451;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  padding: 20px;
}

.envianos {
  text-align: center;
  margin: 40px;
  color: #2F63BD;
  text-decoration: none;
  font-size: 30px;
  font-family: "PT Sans Narrow", sans-serif;
}

.formularios {
  width: 700px;
  margin: auto;
  border-radius: 5px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(83, 43, 99, 0.431372549);
  font-family: "PT Sans Narrow", sans-serif;
  grid-template-areas: "nombre           email" "comentario    comentario" "boton             boton ";
}
.formularios label {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.formularios label input {
  border: none;
  padding: 10px;
}
.formularios .nombre {
  grid-area: nombre;
  font-size: 20px;
}
.formularios .email {
  grid-area: email;
  font-size: 20px;
}
.formularios .comentario {
  grid-area: comentario;
  font-size: 20px;
}
.formularios .boton {
  grid-area: boton;
  width: 80px;
  height: 40px;
  background-color: rgba(91, 180, 173, 0.3843137255);
  border-radius: 20px;
}

.seguirr {
  padding: 70px;
  text-align: center;
  color: #2F63BD;
  text-decoration: none;
  font-size: 20px;
  font-family: "PT Sans Narrow", sans-serif;
}
.seguirr h2 {
  margin: 0px;
  padding: 20px;
}
.seguirr .redes {
  text-decoration: none;
  color: #2CD451;
  font-size: 30px;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  /*contacto*/
  .formularios {
    width: auto;
    margin: 40px 0px;
    border-radius: none;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    font-family: "PT Sans Narrow", sans-serif;
    grid-template-areas: "nombre           nombre" "email             email" "comentario       comentario" "boton               boton  ";
  }
  /*fin contactos*/
  .seguirr {
    padding: 0;
  }
}
/*fin contactos*/
.contendor-remera {
  display: flex;
  gap: 300px;
  padding-top: 40px;
  justify-content: center;
}
.contendor-remera .info-remera .producto-ropa-isl img {
  height: 700px;
  border: solid 3px rgba(221, 56, 56, 0.555);
  border-radius: 6px;
}
.contendor-remera .info-remera div h2 {
  font-size: 30px;
  padding: 10px;
  text-align: center;
}
.contendor-remera .info-disponible div h2 {
  font-size: 50px;
}
.contendor-remera .info-disponible div h3 {
  font-size: 30px;
}
.contendor-remera .info-disponible div div input {
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 2px;
  background-color: rgba(187, 7, 61, 0.411);
  color: white;
}
.contendor-remera .info-disponible div h4 {
  margin-top: 10px;
  padding: 10px;
  font-size: 30px;
}
.contendor-remera .info-disponible div p {
  font-size: 20px;
}
.contendor-remera .info-disponible button {
  padding: 10px;
  border: none;
  background-color: rgba(233, 47, 14, 0.432);
  border-radius: 3px;
  color: white;
}

h2 {
  text-align: center;
  padding-top: 50px;
}

@media screen and (max-width: 1000px) {
  .contendor-remera {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    margin: 0;
    gap: 0px;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
