/*contacto*/
.titulo {
    text-align: center;
    color: #2CD451;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    padding: 20px;
}

.envianos {
    text-align: center;
    margin: 40px;
    color: #2F63BD;
    text-decoration: none;
    font-size: 30px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.formularios {
    width: 700px;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #532b636e;
    font-family: 'PT Sans Narrow', sans-serif;
    grid-template-areas: "nombre           email"
        "comentario    comentario"
        "boton             boton ";

    label {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    label input {
        border: none;
        padding: 10px;
    }

    .nombre {
        grid-area: nombre;
        font-size: 20px;
    }

    .email {
        grid-area: email;
        font-size: 20px;
    }

    .comentario {
        grid-area: comentario;
        font-size: 20px;
    }

    .boton {
        grid-area: boton;
        width: 80px;
        height: 40px;
        background-color: #5bb4ad62;
        border-radius: 20px;
    }
}

.seguirr {
    padding: 70px;
    text-align: center;
    color: #2F63BD;
    text-decoration: none;
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;

    h2 {
        margin: 0px;
        padding: 20px;
    }

    .redes {
        text-decoration: none;
        color: #2CD451;
        font-size: 30px;
        justify-content: center;

    }
}

@media screen and (max-width: 750px) {

    /*contacto*/
    .formularios {
        width: auto;
        margin: 40px 0px;
        border-radius: none;
        padding: 20px;
        grid-template-columns: 1fr 1fr;
        font-family: 'PT Sans Narrow', sans-serif;
        grid-template-areas: "nombre           nombre"
            "email             email"
            "comentario       comentario"
            "boton               boton  ";
    }

    /*fin contactos*/
    .seguirr {
        padding: 0;
    }
}

/*fin contactos*/